
        .col {
            float: left;
            width: 50%;
        }

        .modal__speakup {
            font-family: 'Roboto', sans-serif !important;
            display: none;
            width:640px;
            height: 560px;
            padding: 20px;
            background-color: #eae0e3;
            position: relative;
            border-bottom: 6px solid #ea1962;
        }

        .modal__speakup p {
            font-family: 'Roboto', sans-serif !important;
        }

        .modal__speakup--title {
            font-family: 'Oswald', sans-serif;
            font-size: 25px;
            text-transform: uppercase;
        }
        .modal__speakup--input, .modal__speakup .checkbox, .modal__speakup--textarea {
            display: block;
            width:280px !important;
            border: 0;
            padding: 10px 15px;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .modal__speakup .checkbox {
            margin-bottom: 5px;
            padding: 0;
        }

        .modal__speakup--textarea {
            height: 100px;
        }
        .textarea-contribution {
            height: 200px;
        }
        .close-modal {
            position: absolute;
            top:20px;
            right: 20px;
            color: #ea1962;
            text-decoration: none;
            text-transform: uppercase;
        }
        .modal__speakup--submit {
            background-color: #ea1962 !important;
            color: #fff !important;
            text-align: center !important;
            text-transform: uppercase !important;
            border: 0 !important;
            width:310px !important;
            height: 30px !important;
            padding: 0 !important; 
        }

        .cta__speakup {
            position: fixed;
            bottom: 0;
            left: 100px;
            width: 110px;
            height: 25px;
            color: #fff;
            background-color: #ea1962;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            text-indent: -999em;
            background: url("speakup_cta.png") center center no-repeat;
        }

        .cta__speakup--another {
            color: #ea1962;
            text-decoration: none;
        }

        .modal__speakup--thanks {
            display: none;
        }